/*
@import "https://cdn.simplecss.org/simple.css";
@import "/css/syntax.css";
*/

html { background-color: darkgrey; }
body { font: 16px/20px sans-serif; max-width: 1530px; background-color: white; margin: 0em auto; padding: 0.5em; border: 2px solid black; }
h1::before { content: "# " } h1 { text-transform: uppercase; }
h2::before { content: "## " } h2 { text-transform: capitalize; }
h3::before { content: "### " } h3 { text-transform: capitalize; }
h4::before { content: "#### " }
h5::before { content: "##### " }
h6::before { content: "###### " }
h1 + ul { display: inline; padding: 0; }
h1 + ul::before { content: "TOC: "; }
h1 + ul > li { display: inline; padding: 0 1em; }
a > img {border: 2px solid blue;}
img { margin: 0; padding: 1px; width: 24%; border: 1px solid black }
@media (max-width: 1200px) { img { width: 32%; } }
@media (max-width: 800px) { img { width: 48%; } }
@media (max-width: 500px) { img { width: 100%; } }
@media (min-width:800px) { p > img:active, details > img:active { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 999; object-fit: contain; width: 100%; height: 100%; margin: 0; padding: 0; background-color: darkgrey; } }

/* Copied from: https://github.com/mzlogin/rouge-themes/blob/master/dist/base16.dark.css */
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w { color: #d0d0d0; background-color: #151515; }
.highlight .err { color: #151515; background-color: #ac4142; }
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs { color: #505050; }
.highlight .cp { color: #f4bf75; }
.highlight .nt { color: #f4bf75; }
.highlight .o, .highlight .ow { color: #d0d0d0; }
.highlight .p, .highlight .pi { color: #d0d0d0; }
.highlight .gi { color: #90a959; }
.highlight .gd { color: #ac4142; }
.highlight .gh { color: #6a9fb5; background-color: #151515; font-weight: bold; }
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv { color: #aa759f; }
.highlight .kc { color: #d28445; }
.highlight .kt { color: #d28445; }
.highlight .kd { color: #d28445; }
.highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 { color: #90a959; }
.highlight .sr { color: #75b5aa; }
.highlight .si { color: #8f5536; }
.highlight .se { color: #8f5536; }
.highlight .nn { color: #f4bf75; }
.highlight .nc { color: #f4bf75; }
.highlight .no { color: #f4bf75; }
.highlight .na { color: #6a9fb5; }
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx { color: #90a959; }
.highlight .ss { color: #90a959; }

/*
 * vim: set textwidth=0:
 * vim: set wrapmargin=0:
 * vim: set nowrap:
 * vim: set foldlevel=9:
 */

