---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- assign categories =  site.books | map: 'categories' | join: ','  | split: ',' | uniq -%}
  {%- for cat in categories -%}
  <h3>{{ cat }}</h3>
  <ul>
    {%- for book in site.books -%}
    {%- if book.categories contains cat -%}
    <li>
      {%- for tag in book.tags -%}
      {{ tag }}&nbsp; 
      {%- endfor -%}
      <a href="{{ site.baseurl }}{{ book.url }}">{{ book.title }} 
      </a>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
  {%- endfor -%}

  {{ content }}

  {% for category in site.books.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        <strong>{{ post.categories }}</strong> | 
        {%- for tag in  post.tags  -%}
          &nbsp;{{ tag }} |
        {%- endfor -%}
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
